.navbar {
    background-color: rgb(246, 146, 122);
}

body {
    background-color: lightgray;
}

#filter{
    border-radius: 25px;
    background:  rgb(246, 146, 122);
    padding: 40px;
    margin: 40px;
    height: 650px;
    
}

h1 {
    padding-top: 20px;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
   }

#dinner {
    float: right;
    padding-top: 200px;
}

footer {
    position: relative;
    margin-top: 50px;
    padding-top: 20px;
    width: 100%;
    font-size: 12px;
   }

